body {
  background-color: lightblue;
}

.ingredient-box {
  width: 90px;
  height: 120px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#sandwich-form {
  border: 1px solid red;
}

#shopping-cart {
  border: 1px solid blue;
}